/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 3, 2015, 12:21:36 PM
    Author     : bernardot
*/

input[type="text"], input[type="password"] {
    font-family: 'Open Sans', sans-serif;
    width: 360px;
    padding: 1em 1em 1em 1em;
    color: #5566FF;
    font-size: 16px;
    outline: none;
    background: 5px 7px #99DDDD;
    border: none;
    font-weight: 100;
    margin-bottom: 1em;
}

input[type="text"]:hover, input[type="password"]:hover {
    background-color:#55DDDD;
}

input[type="text"]:focus, input[type="password"]:focus {
    background-color: #BBFFFF;
}

input[type="submit"] {
    background: #34b8d9;
    background-image: -webkit-linear-gradient(top, #34b8d9, #2980b9);
    background-image: -moz-linear-gradient(top, #34b8d9, #2980b9);
    background-image: -ms-linear-gradient(top, #34b8d9, #2980b9);
    background-image: -o-linear-gradient(top, #34b8d9, #2980b9);
    background-image: linear-gradient(to bottom, #34b8d9, #2980b9);
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

input[type="submit"]:hover {
    background: #2aa4bf;
    background-image: -webkit-linear-gradient(top, #2aa4bf, #42c7af);
    background-image: -moz-linear-gradient(top, #2aa4bf, #42c7af);
    background-image: -ms-linear-gradient(top, #2aa4bf, #42c7af);
    background-image: -o-linear-gradient(top, #2aa4bf, #42c7af);
    background-image: linear-gradient(to bottom, #2aa4bf, #42c7af);
    text-decoration: none;
}

form {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: darkblue;
}
