/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 1, 2015, 3:57:09 PM
    Author     : bernardot
*/

html, header, footer {
    background-color: #AADDDD;
}

body {
    background-color: #EEFFFF;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

header {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #667799;
    padding-bottom: 1px;
}

footer {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: black;
    padding-top: 1px;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #77AAAA;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: #7788BB;
    text-align: justify;
    width: 80%;
}

table {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    width: 80%;
    border: 1px solid #8899AA;
    border-collapse: collapse;
}

td.special {
    border: 1px solid #8899AA;
    background: #99EEF0;
    color: #4433AA;

    cursor: pointer;
}

td.button {
    border: 1px solid #8899AA;
    width: 100px;
}

thead {
    background: #77AAAA;
    color: whitesmoke;
    font-size: 16px;
    font-style: italic;
    text-transform: uppercase;
}

thead td {
    padding: 2px 5px 2px 5px;
}

.specialButton {
    background: #34b8d9;
    background-image: -webkit-linear-gradient(top, #34b8d9, #2980b9);
    background-image: -moz-linear-gradient(top, #34b8d9, #2980b9);
    background-image: -ms-linear-gradient(top, #34b8d9, #2980b9);
    background-image: -o-linear-gradient(top, #34b8d9, #2980b9);
    background-image: linear-gradient(to bottom, #34b8d9, #2980b9);
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    color: #ffffff;
    padding: 1px 30px 1px 30px;
    text-decoration: none;
}

.specialButton:hover {
    background: #2aa4bf;
    background-image: -webkit-linear-gradient(top, #2aa4bf, #42c7af);
    background-image: -moz-linear-gradient(top, #2aa4bf, #42c7af);
    background-image: -ms-linear-gradient(top, #2aa4bf, #42c7af);
    background-image: -o-linear-gradient(top, #2aa4bf, #42c7af);
    background-image: linear-gradient(to bottom, #2aa4bf, #42c7af);
    text-decoration: none;
}